DATABASE_URL="postgres://postgres:postgres@localhost:8030/database"

NODE_ENV="development"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="database"
POSTGRES_HOST="localhost"
POSTGRES_PORT="8030"
TYPEORM_SYNCHRONIZE="false"

JWT_SECRET="segredo-longo-e-aleatorio-aqui"
JWT_EXPIRES_IN="1h"

MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASS=""

TURNSTILE_SECRET_KEY=""
VITE_PUBLIC_KEY=""

