DATABASE_URL="postgres://usuario:senha@postgres:5432/database"
LOCAL_DATABASE_URL="postgres://usuario:senha@localhost:8030/database"
NODE_ENV="development / production"

POSTGRES_USER="usuario"
POSTGRES_PASSWORD="senha"
POSTGRES_DB="database"

JWT_SECRET="segredo-longo-e-aleatorio-aqui"