DATABASE_URL="postgres://postgres:postgres@localhost:8030/database"

POSTGRES_HOST="localhost"
POSTGRES_PORT="8030"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="database"
TYPEORM_SYNCHRONIZE="false"

JWT_SECRET="segredo-longo-e-aleatorio-aqui"
JWT_EXPIRES_IN="1h"

MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USER="seu-email@gmail.com"
MAIL_PASS="sua_app_password"

TURNSTILE_SECRET_KEY="sua_secret_key_aqui"
