.data {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;

    align-items: center;

    width: 100%;

    padding: 1.5rem 2rem;
}

.data .boxList {
    display: flex;
    justify-content: space-between;

    gap: 1.5rem;

    width: 100%;
}
